AutoComment2012/AutoComment2012/obj
AutoComment2012/AutoComment2012/bin
AutoComment2013/AutoComment2012/obj
AutoComment2013/AutoComment2012/bin
AutoComment2015/AutoComment2015/obj
AutoComment2015/AutoComment2015/bin